@page "/Booking"
@inject NavigationManager navManager
@layout MainLayout___Copy
<h3>patient</h3>
<h1>Hello</h1>
@for (int i = 0; i <= 5; i++)
{
    int currentIndex = i; // Capture the current value of i

    <button @onclick="() => change(currentIndex)">Click</button>
}

@code {
    public void change(int n)
    {

        navManager.NavigateTo($"/counter/{n}");   gfghfyrtfnvhd
    }
}
