@page "/EditDoctor/{id:int}/{FName}/{LName}/{Speciality}"
@using HospitalSystem.Data

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #success {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: lightgreen;
        color: black;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .message-area {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
    }
    .page-heading {
        text-align: center;
        font-size: 25px;
        border-bottom: 2px solid #B6BBC4;
    }

    .input-table {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-fields {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border-radius: 20px;
        border: 1px solid #B6BBC4;
    }

    td {
        padding: 10px;
    }

    .search-button-appointment {
        background-color: #7071E8;
        color: white;
        border-radius: 20px;
        margin-top: 10px;
    }

</style>

<h1 class="page-heading">Edit Doctor</h1>

<div class="input-table">
    <table>
        <tr>
            <td>
                <label for="FirstName">First Name:</label>
                <input type="text" class="input-fields" id="First-Name" name="First-Name" placeholder="Enter First Name" @bind="FName">
            </td>
            <td>
                <label for="LastName">Last Name:</label>
                <input type="text" class="input-fields" id="Last-Name" name="Last-Name" placeholder="Enter Last Name" @bind="LName">
            </td>
        </tr>
        <tr>
            <td>
                <label for="Speciality">Speciality:</label>
                <input type="text" class="input-fields" id="Speciality" name="Speciality" placeholder="Enter Doctors's Speciality" @bind="Speciality">
            </td>
            <td class="button-container">
                <button class="search-button-appointment" @onclick="Done">Done </button>
            </td>
        </tr>
    </table>
</div>
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="container">
        <div class="message-area">
            <p class="text-danger">@ErrorMessage</p>
        </div>
    </div>
}
if (isEdited)
{
<div class="container">
    <div id="success">
        <p>@SuccessMessage</p>
    </div>
</div>
}

@code {
    [Parameter]
    public int id { get; set; }
    [Parameter]
    public string FName { get; set; }

    [Parameter]
    public string LName { get; set; }

    [Parameter]
    public string Speciality { get; set; }
    public Doctor Controller = new Doctor();
    string ErrorMessage = null;
    bool isEdited = false;
    string SuccessMessage = "Info updated!";
    public void Done()
    {
        try
        {
            object Doctor = new
            {
                Id = id,
                Fname = FName,
                Lname = LName,
                speciality = Speciality
            };
            Controller.Update(Doctor);
            isEdited = true;
        }
        catch (Exception ex)
        {
            ShowErrorMessage($"An error occurred while updating the doctor: {ex.Message}");
        }
    }


    private void ShowErrorMessage(string message)
    {

        ErrorMessage = message;
    }

}
