@inherits LayoutComponentBase
@inject NavigationManager NavManager
<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="javascript:void(0);" @onclick="NavigateToViewBooking">View Appointment</a>
			<a href="javascript:void(0);" @onclick="NavigateToMakeBooking">Make Appointment</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
	public void NavigateToMakeBooking()
	{
		NavManager.NavigateTo("/MakeAppointment");
	}
	public void NavigateToViewBooking()
	{
		NavManager.NavigateTo("/booking");
	}
}